/*
	Plugin	: BlueImp Gallery
	Author	: Michael Janea (www.michaeljanea.com)
	Version	: 1.2
*/

#blueImpGallery {}
	#blueImpGallery_Container {height:350px; overflow:auto; margin-bottom:1em;}
	#blueImpGallery table {width:100%; border-collapse:collapse;}
	#blueImpGallery th, #blueImpGallery td {padding:.5em;}
	#blueImpGallery th {font-weight:bold;}
	#blueImpGallery td {vertical-align:top; position:relative;}
	#blueImpGallery input[type=text], #blueImpGallery textarea {padding:.3em; border:1px solid #ddd; -webkit-border-radius:3px; border-radius:3px; -webkit-box-shadow:inset 0 2px 2px rgba(0,0,0,0.075); box-shadow:inset 0 2px 2px rgba(0,0,0,0.075); background:rgba(0, 0, 0, .01); outline:none; -webkit-box-sizing:border-box; box-sizing:border-box;}
	#blueImpGallery input[type=text] {width:150px; max-width:100%;}
	#blueImpGallery input[type=text]:focus, #blueImpGallery textarea:focus, #blueImpGallery button:focus {border:1px solid #139ff7;}
	#blueImpGallery textarea {resize:none; width:95%; height:100px; white-space:pre-wrap;}
	#blueImpGallery input[type=checkbox] {position:absolute; top:.5em; right:.5em; display:none;}
	#blueImpGallery .blueImpGallery_addNew, #blueImpGallery .blueImpGallery_deleteSelected {padding:.5em; background:#f3f3f3; border:1px solid #ddd; font-weight:bold; -webkit-border-radius:3px; border-radius:3px; cursor:pointer;}
	#blueImpGallery .blueImpGallery_addNew:hover, #blueImpGallery .blueImpGallery_deleteSelected:hover {text-decoration:underline;}
	#blueImpGallery .blueImpGallery_image {text-align:center;}

#blueImpGallery_Container .ui-state-default {display:block; padding:4px; margin:0 0 10px 10px; line-height:1.42857143; background-color:#fff; border:1px solid #ddd; -webkit-border-radius:4px; border-radius:4px; -webkit-transition: border .2s ease-in-out; -o-transition:border .2s ease-in-out; transition:border .2s ease-in-out; float:left; width:100px; position:relative;}
#blueImpGallery_Container .ui-state-default img {margin-bottom:.5em; max-width:100px; max-height:75px;}
#blueImpGallery_Container .ui-state-default .blueImpGallery_image {width:100px; height:80px;}
#blueImpGallery_Container .ui-state-default:hover input[type=checkbox] {display:block !important;}
#blueImpGallery_Container .sortable-chosen {opacity:.3;}