.mobile-header .nav>li {
    position: relative;
    display: block;
    width: 100%;
}

.mobile-header .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    width: 100%;
}

.mobile-header li.dropdown-submenu {
    background-color: #f8f8f8;
}

.mobile-header .catalog ul.dropdown-menu {
    padding-top: 0px;
    padding-bottom: 0px;
}