.admin-panel-fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #3e3e3e;
    z-index: 9999;
}
.admin-panel-fixed a{
    color:#ffffff;
}
.admin-panel-fixed .is-submenu-item{background: #3e3e3e;}