.ul-horizontal {
    list-style-type: circle;
}


.ul-horizontal li {
    display: inline;
}

.orbit-previous, .orbit-next {
    border-radius: 50%;
}


#left-menu-block {
}


#right-block {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#buy-steps-block {
    padding-left: 0px;
    padding-right: 0px;
}

.buy-step-hr {
    height: 4px;
}

#buy-steps {
    float: left;
    padding-top: 30px;
    padding-bottom: 30px;
}

.buy-step {
    padding-left: 0px;
    padding-right: 0px;
    width: initial;
    float: left !important;
}

.buy-step-div {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: 41px;
    width: 41px;
    border: 2px solid black;
    border-color: #818181;
    border-radius: 50%;
}

.buy-step a {
    color: #818181;
}

.buy-step-div-active, .step-name-active {
    border-color: #579208;
    color: #579208;
}


.buy-step-icon {
    font-size: 24px;
    padding-top: 5px;
}

.items-table-block {
    padding-left: 0px;
    padding-right: 0px;
}


.items-table {
    margin-bottom: 0px;
    border-spacing: 0;
    font-size: 14px;
    box-shadow: 0 0 3px rgba(121, 121, 121, 0.5);
}

.items-table tr:nth-child(even){
    background: none;
}

.items-table thead {
    background-color: transparent;
    vertical-align: top;
    border: 0px;
}

.items-table thead th, #items-table tbody th {
    border-bottom: 1px solid #e7e7e7;
    color: #9b9b9b;
    font-weight: normal;
}

.items-table tbody {
    background-color: transparent;
    vertical-align: top;
    border: 0px;
}

.items-table tbody td, .items-table tbody th {
    border-bottom: 1px solid #e7e7e7;
}

.item-image {
}

.items-properties-table td, th {
    text-align: left;
}

.item-name {
    color: black;
    font-weight: bold;
}
.number {
    width: 100px;
}
.number .minus{
    width: 25px;
    height: 30px;
    float: left;
    font-size: 1rem;
    line-height: 30px;
    text-align: center;
    border: 1px solid #cacaca;
    border-radius: 50% 0 0 50%;
    cursor: pointer;
}
.number .item-amount-input {
    height: 30px;
    width: 50px;
    float: left;
    margin:0;
    padding:0;
    text-align: center;
}
.number .plus{
    width: 25px;
    height: 30px;
    float: left;
    font-size: 1rem;
    line-height: 30px;
    text-align: center;
    border: 1px solid #cacaca;
    border-radius: 0 50% 50% 0;
    cursor: pointer;
}
.item-amount {
    display: inline;
}

.item-amount-table {
    padding-top: 0px;
    padding-left: 0px;
    border-spacing: 0;
}

.item-amount-table thead, tbody {
    border: 0px;
}

.item-amount-table td {
    padding-top: 0px;
    padding-left: 0px;
    border-bottom: 0px !important;
}



.item-delete-button {
    color: white;
    padding: 7px;
    font-size: 1.2rem;
    margin-top: 20px;
    width: 250px!important;
    display: block;
    text-align: center;
}

.item-change-button {
    color: #7e44aa;
}
.order-wraper{
    box-shadow: 0 0 3px rgba(121, 121, 121, 0.5);
}
#order-block {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 24px;
    background-color: #fcfffc;
}
#order-block .row{
    margin-top:10px;
}
.order-title-big{
    font-size: 1.5rem;
    font-weight: 600;
    color: #818181;
}
.order-title-medium{
    font-size: 1.3rem;
    font-weight: 500;
    color: #818181;
}
#coupon-input, #coupon-button {
    height: 40px;
    margin-bottom: 0px;
}

#coupon-button {
    background-color: #7e44aa;
    margin-left: 5px;
}

#order-price, #price-description {
    float: left;
}
#price-value {
    float: right;
    font-size: 1.2rem;
}
.order-agreement{
    font-size: 0.9rem;
    font-weight: 500;
    color: #818181;
}
#order-control-buttons-block {
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
}

.order-control-button {
    background-color: #ff48a5;
}

#price-description,#price-value {
    color: #818181;
    font-weight: bold;
}
.price_text
{
    font-weight:200;
    font-size:80%;
}
.total-accordion {
    padding: 0px !important;
}

.total-accordion p {

}

#total-block .menu.nested {
    margin-left: 0px !important;
}

#total-block .info {
    color: #818181;
}
.order-submit{
    font-size: 1.2rem;
    width: auto!important;
}
.address {
    font-weight: bold;
    color: black;
}

.order-header-tr {
    background-color: ghostwhite !important;
}

.order-photo {
    height: 30px;
    width: auto;
}

.modal-footer {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.custom-medium-reveal {
    width: 800px !important;
    padding-bottom: 0px;
}

.modal-left {
    padding-left: 0px;
}

.modal-right {
    padding-right: 0px;
}

.custom-medium-reveal .save-button, .custom-footer .save-button {
    height: 40px;
    width: 133px;
    color: white;
    padding: 5px;
    background-color: #7e44aa;
}

.custom-medium-reveal .cancel-button {
    height: 40px;
    width: 120px;
    color: #959398;
}

.custom-medium-reveal .save-button, .custom-medium-reveal .cancel-button, .custom-footer .info {
    cursor: pointer;
}

.modal-footer .info, .custom-footer .info {
    width: 200px;
    color: #ababab;
    font-style: italic;
}

.forms-add {
    padding-left: 0px;
    padding-right: 0px;
    max-height: 400px;
    overflow-y: scroll;
    margin-bottom: 30px;
}

.form-block {
    border: 1px solid #e6e6e6;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 20px;
}


.form-add-button {
    color: blue;
    cursor: pointer;
    font-size: 14px;
}

.form-delete-button {
    color: red;
    cursor: pointer;
}

.gifts-info {
    font-weight: bold;
}

.return-back-button {
    display: block;
    margin-bottom: 15px;
}

#order-counter, #win-counter {
    font-size: 12px;
}

.best-price {
    background-color: greenyellow;
}

