.orders-wraper{
    box-shadow: 0 0 3px rgba(121, 121, 121, 0.5);
}
    .order-block{
        border-bottom: 1px solid rgba(121, 121, 121, 0.5);

    }
    .order-block:last-child{
        border-bottom: none;
    }
        .order-logo{}
        .order-details{
            padding-top: 20px;
            padding-bottom: 20px;
        }
            .order-title{
                font-size: 1.3rem;
                font-weight: 500;
                margin: 0 0 20px 0;
            }
            .order-title a{
                font-size: 1.3rem;
                font-weight: 500;
                margin: 0 0 20px 0;
                color: #0a0a0a;
            }
            .order-description{

            }
                .order-description div{}
                .order-description div span{
                    color:#909092;
                }
        .order-actions{
            background: #e5ffe2;
            padding: 10px;
        }
        .actions-buttons{
            bottom: 0;
            left: 15px;
            right: 15px;
        }
        .row{position: relative}

.count_down{
    margin-bottom: 4em;
}

.chart{
    display: inline-block;
    width: 95px;
    height: 95px;
    margin: 0 10px;
    vertical-align: top;
    position: relative;
    box-sizing:border-box;
    padding-top: 22px;
}


.create-bet{
    font-size: 1.5rem;
    padding: 10px;
    margin: 20px 0;
    display: inline-block;
    width: auto!important;
}

canvas{
    position: absolute;
    left: 0;
    top: 0;
}
.form-delete-button{
    margin-bottom: 10px;
}
.hide-button{
    width:100%!important;
}
.create-bet-accordion{
    background: #e5ffe2!important;
    color: #828282!important;
}
.create-bet-accordion .accordion-title:focus{
    background: #e5ffe2!important;
    color: #828282!important;
}
.create-bet-accordion .accordion-title:active{
    background: #e5ffe2!important;
    color: #828282!important;
}
.create-bet-accordion a{
    color: #828282!important;
}
.create-bet-accordion .is-active .accordion-title{
    background: #aed777!important;
    color:#ffffff!important
}
.create-bet-accordion .accordion-title:hover{
    background: #aed777!important;
    color:#ffffff!important
}
.create-bet-accordion:hover{
    background: #aed777!important;
    color:#ffffff!important
}
.create-bet-accordion:hover a{
    color:#ffffff!important
}
.acepted{
    position: absolute;
    bottom: 20px;
    color: #a01c3a;
    border: 1px solid;
    padding: 2px 5px;
    right: 20%;
    font-size: 1.5rem;
    font-weight: 600;
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
}
.acepted-active{
    color: #aed777;
}
.acepted-cancel{
    color: #ffa24f;
}
.acepted-end{
    color: #777ed7;
}

.actions-offers .acepted {
    margin-top: 10px;
}
.cur_balance{
    font-size: 1.5rem;
    text-align: center;
    padding: 30px;
}
.cur_balance .description{
    font-size: 1rem;
}
.cur_balance span{
    font-size: 1.7rem;
    font-weight: 600;
}
