.items-row .orbit-previous, .orbit-next {
    color: #cacaca;
    background-color: transparent;
}

.items-row .orbit-container { height:200px !important; }

.items-row .orbit-container .orbit-slides-container > * {
    position: relative;
    margin-left: 0;
    float: left;
    height: 100%;
}

.orbit-slide .columns .columns {
    float: left;
}

.items-row {
    padding-top: 10px;
}

.items-row .orbit-slide .columns {
    padding-left: 0px;
}

.category-info {
    text-align: center;
    padding-bottom: 5px;
}

.category-hr {
    margin-top: 0px;
    margin-bottom: 0px;
}

.category-name, .item-brand {
    font-weight: bold;
}

.category-tag {
    color: #cacaca;
}

.orbit-slide .columns .columns {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.item-brand, .item-name, .item-cost {
    font-size: 14px;
}

.item-name, .item-cost {
    color: #7c7c7c;
}

.item-img {
    height: 170px;
}

.category-page-lable {
    font-size: 30px;
}


.search-row {
    vertical-align: middle;
}

.search-bar-div {
    border: 2px solid #e8e8e8;
}

.search-input, .search-input:focus {
    border: 0px;
    margin: 0px;
    background: transparent;
    border-top: transparent !important;
    border-left: transparent !important;
    border-right: transparent !important;
    border-bottom: transparent !important;
    box-shadow: none !important;
}

.search-input::-webkit-input-placeholder {
    color: #6d6d6d !important;

}

.search-input:-moz-placeholder {
    color: #6d6d6d !important;

}

.search-input::-moz-placeholder {
    color: #6d6d6d !important;

}

.search-input:-ms-input-placeholder {
    color: #6d6d6d !important;

}


.search-button, .search-button:link, .search-button:active, .search-button:hover, .search-button:visited {
    color: black;
    margin: 0px;
    background-color: transparent;
}

.category-search-result {
    max-height: 200px;
    overflow-y: scroll;
}

.dashed-block {
    border: 1px dashed #bbbbbb;
    margin-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.category-name-block {
    border-bottom: 1px dashed #bbbbbb;
    margin-top: 10px;
    margin-bottom: 10px;
}

.category-h2 {
    font-size: 24px;
}


.category-content .accordion-title, .category-content .accordion-content,
.category-similar .accordion-title,
.category-similar .accordion-content,
.category-tree .accordion-content,
.category-tree .accordion-title {
    border: 0px;
}

.tree-column {
    padding-left: 1rem;
}


.category-content .accordion-title {
    color: black;
    font-size: 20px;
}

.category-tree {
    padding-left: 0px;
    padding-right: 0px;
}

.reveal .category-tree {
    padding-left: 0.9375rem !important;
    padding-right: 0.9375rem !important;
}

.category-tree .accordion-title {
    color: black;
    font-size: 20px;
}

.show-hide-button {
    font-size: 14px !important;
    color: black;
}

.category-content :last-child > .accordion-content:last-child {
    border-bottom: 1px dashed #bbbbbb;
}

.category-similar :last-child > .accordion-content:last-child {
    border-bottom: 1px dashed #bbbbbb;
}

.category-tree :last-child > .accordion-content:last-child {
    border-bottom: 0px;
}


.category-similar .accordion-title {
    color: black;
    font-size: 20px;
}

.category-similar .accordion-content {
    column-count: 4;
}

.category-link {
    color: black;
    display: block;
    font-size: 14px;
}

.category-actions h2 {
    padding-left: 1rem;
}

.category-action-button {
    color: black;
    display: inline;
    margin-right: 10px;
}

.category-tree a {
    color: black;
}

.category-controls-name {
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-top: 0px !important;
    margin-top: 20px;
}

.category-controls {
    padding-left: 1rem;
    border-left: 4px solid #cd4daa;
    padding-top: 10px;
}

.category-controls a {
    margin-right: 20px;
}

.category-controls-name span {
    padding-left: 1rem;
    border-left: 4px solid #cd4daa;
    font-weight: bold;
}

.category-content {
    padding-left: 1rem;
}

.category-tree .category-content {
    border-left: 4px solid #cd4daa;
}

.category-tree .accordion-content {
    padding: 0px;
}

.tree-margin {
    margin-bottom: 20px;
}

.modal-h1 {
    padding-left: 0.9375rem;
}

.show {
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    color: #7f7f7f;
}

.show label {
    float: left;
    width: 100%;
    background-color: #EFEFEF;
    border-radius: 1px;
    overflow: auto;

}

.show-columns, .show-columns .columns {
    padding-left: 0px;
    padding-right: 0px;
}

.show-columns-label {
    height: 41px;
    display: table;
}

.show-columns span {
    display: table-cell;
    vertical-align: middle;
}

.show label span {
    text-align: center;
    padding: 8px 0px;
    display: block;
}

.show label input {
    position: absolute;
    top: -20px;
}

.show input + span {
    background-color: #ce4daa;
    color: white;
}

.show input:checked + span {
    background-color: #7c48ad;
    color: white;
}