.gallery-orbit .orbit-container {
    height: 350px !important;
}

.gallery-orbit .orbit-slide {
    height: 100%;
}

.gallery-orbit .orbit-slide img {
    display: block;
    position:absolute;
    top:0;
    bottom:0;
    margin: auto;
}

.large-photo {
    display: block;
    margin: 0 auto;
}

.gallery-orbit .orbit-slide a {
    height: 100px;
    width: 100px;
}

.gallery-orbit .orbit-bullets button {
    background: transparent;
    height: 75px !important;
    width: 75px !important;
    border-radius: 0 !important;
}

.gallery-orbit .orbit-bullets .is-active {
    border: 3px solid #ff46a4;
    border-radius: 0px !important;
}

.gallery-orbit .orbit-bullets {
    height: 350px;
    overflow-y: scroll;
    margin-top: 0px;
    margin-bottom: 0px;
}

.arrow-button {
    margin-top: 280px;
}