.logo-img {
    height: 44px;
    display: block;
    margin: 0 auto;
}

.logo-text {

}

.header {
    padding-top: 10px;
    padding-bottom: 10px;
}

.header a {
    color: gray;
}

.header a .fa-map-marker {
    color: #737373;
}

.header a .fa-list {
    color: #a2e274;
}

.header a .fa-shopping-cart {
    color: #943ec7;
}

.header a .fa-heart-o {
    color: #ff3879;
}

.search-row {
    vertical-align: middle;
}

.search-bar-div {
    border: 2px solid #e8e8e8;
}

.search-input, .search-input:focus {
    border: 0px !important;
    margin: 0px !important;
    background: transparent;
    border-top: transparent !important;
    border-left: transparent !important;
    border-right: transparent !important;
    border-bottom: transparent !important;
    box-shadow: none !important;
}

.search-input::-webkit-input-placeholder {
    color: #6d6d6d !important;

}

.search-input:-moz-placeholder {
    color: #6d6d6d !important;

}

.search-input::-moz-placeholder {
    color: #6d6d6d !important;

}

.search-input:-ms-input-placeholder {
    color: #6d6d6d !important;

}

.example-column {
    margin-top: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: right;
}

.example-span {
    color: #6d6d6d;
}

.button-column {

}

.search-button, .search-button:link, .search-button:active, .search-button:hover, .search-button:visited {
    color: #e8e8e8;
    margin: 0px;
    background-color: transparent !important;
}

.header-menu-left {
    padding-right: 0px !important;
}

.header-menu-right {
    padding-right: 0px !important;
}

.header-menu-icon {
    height: 16px;
    width: 16px;
}

.main-hr {
    border-width: 1px;
    border-color: #cd4daa;
}