.items-row .orbit-previous, .orbit-next {
    color: #cacaca;
    background-color: transparent;
}

.items-row .orbit-container { height:250px !important; }

.items-row .orbit-container .orbit-slides-container > * {
    position: relative;
    margin-left: 0;
    float: left;
    height: 100%;
}

.orbit-slide .columns .columns {
    float: left;
}

.orbit-slide .columns .columns {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#content {
    padding-bottom: 15px;
}

.item-category {
    font-size: 12px;
    color: #8f8f8f;
}

.item-category a {
    color: #8f8f8f;
}

.small-reviews-link {
    font-size: 12px;
    color: black;
}

.small-reviews-link:link {
    text-decoration: underline;
}

.brand-link {
    font-size: 12px;
    text-decoration: underline;
    color: black;
}

.item-price {
    font-size: 32px;
    font-weight: bold;
    color: #ff46a4;
}

.item-size {
    font-size: 12px;
    color: #9f7f80;
}

.item-size-select {
    width: 156px;
    font-size: 12px;
    border: 1px solid #cbcbcb;
    padding-bottom: 6px;
}

.green-button {
    border: 1px solid #cbcbcb;
    background-color: #aed777;
    border-radius: 30px 15px 30px 15px;
}

.green-button:hover {
    background-color: #9bbf6a;
}

.add-item-to-basket-button, .prorogue-item-button, .compare-item-button {
    height: 50px;
    padding-top: 16px;
}

.add-item-to-basket-button, .fast-order, .deferred_add {
    width: 100%;
    font-size: 20px !important;
}

.add-item-to-basket-button:hover , .add-item-to-basket-button:visited{
}

.prorogue-item-button:hover, .prorogue-item-button:visited, .compare-item-button:hover, .compare-item-button:visited {
    background-color: white;
    color: black;
    width: 100%;
}

.prorogue-item-button, .compare-item-button {
    background-color: white;
    color: black;
    margin-left: 8px;
}

.item-info-point {
    font-size: 15px;
    color: #4c4c4c;
}

.item-info-value {
    font-size: 15px;
    color: black;
}


#items-button-group-top-div .items-button-group .value {
    font-size: 12px;
    color: #909090;
}

#items-button-group-top-div {
    padding-top: 50px;
}

#items-button-group-top-div .items-button-group {
    margin-bottom: 0px;
    box-shadow: 0 0 3px rgba(121, 121, 121, 0.5);

}
.main-tabs .tabs{
    background: #aed777;
}
.main-tabs a{
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
	padding: 0 10px;
}
.main-tabs .tabs .is-active{
    background: #8cc63e;
}
.main-tabs .tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
     background: #8cc63e;
     color: #ffffff;
}
.main-tabs .tabs-title > a:hover {
    background: #8cc63e;
    color: #ffffff;
}
#items-button-group-top-div .items-button-group .button:hover {
    border-bottom: 3px solid #e3e3e3;
    background-color: white;
}

#items-button-group-top-div .items-button-group li {
    display: inline;
}

#items-button-group-top-div .items-button-group .button {
    height: 61px;
    border-left: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    color: black;
    background-color: #f4f4f4;
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 24px;
    padding-bottom: 22px;
}

#items-button-group-top-div .items-button-group .active-button {
    border-bottom: 3px solid #7e44aa !important;
    background-color: white;
}

.item-about-div {
    padding-top: 30px;
    padding-bottom: 30px;
}

.two-col {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap : 20px;
}

.item-attr-name {
    color: gray;
}

#items-button-group-bottom-div {
    padding-top: 20px;
}


#items-button-group-bottom-div .items-button-group {
    border-bottom: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    border-radius: 2px;
    margin-bottom: 0px;
}

#items-button-group-bottom-div .items-button-group li {
    display: inline;
}

#items-button-group-bottom-div .items-button-group .button {
    border-right: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    color: #909090;
    background-color: #f4f4f4;
    margin-bottom: 0px;
}

#items-button-group-bottom-div .items-button-group .active-button {
    background-color: white;
    color: black !important;
}

.recall-rules {
    /*color:#cccccc;*/
    text-decoration: none;
    border-bottom: 1px dashed #909090;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-top: 0px !important;
    border-right: 0px !important;
    background-color: transparent !important;
    float: right;
}

.recall-rules.review {
    color:#cccccc;
}

.write-review {
    margin-top: 30px;
    width: 195px;
    height: 38px;
    /*background-color: #7e44aa;*/
}

.write-review:hover , .write-review:visited, .write-review:focus {
    /*background-color: #7e44aa;*/
}

.write-review::after, .write-review::before {
    all: unset !important;
}

.viewed, .viewed-value {
    color: #525252;
    font-size: 20px;
}

.viewed {
    text-decoration: underline;
}

.viewed-photo {
    margin-top: 10px;
}

.items-row .item-name {
    color: #8f8f8f;
}

.items-row .item-cost {
    color: #ff46a4;
}

.comment-form {
    padding-bottom: 20px;
    padding-top: 20px;
}

.comment-form .columns {
    padding-left: 0px;
    padding-right: 0px;
}

.comment-form select {
    margin-bottom: 0px;
}

.comment-menu {
    margin: 0px !important;
}

.comment-form-button, .comment-form-button:hover, .comment-form-button:focus {
    background-color: #7e44aa;
}

.comment {
    margin-bottom: 15px;
}

.comment span {
    display: block;
}

.comment p {
    display: inline;
}

.commenter-name, .comment .title {
    font-weight: bold;
}

.date p {
    font-size: 15px;
    color: grey;
}

.star-rating{
    font-size: 0;
}
.star-rating__wrap{
    display: inline-block;
    font-size: 0.8rem;
}
.star-rating__wrap:after{
    content: "";
    display: table;
    clear: both;
}
.star-rating__ico{
    float: right;
    padding-left: 2px;
    cursor: default !important;
    color: #aed777;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.star-rating__ico:last-child{
    padding-left: 0;
}
.star-rating__input{
    display: none;
}

.star-rating__input:checked ~ .star-rating__ico:before
{
    content: "\f005";
}

.swiper-slide img {
    max-height: 100%;
    max-width: 100%;
}

.items-row .slide-next {
    right: 0px !important;
}

.items-row .slide-previous {
    left: 0px !important;
}