.content-wrapper{padding: 0 30px;}
.logo-div{padding-top: 10px;}
.sidebar-block {
    border-right: 2px solid #9bbf6a;
    z-index: 5;
    min-height: 100vh; 
}
.sidebar-wrapper ul {
    margin-left: 0px;
    list-style-type: none;
}

.sidebar-wrapper {
    min-height: 100vh;
}

.sidebar-wrapper a {
    display: block;
    color: #323232;
}

.sidebar-wrapper .icon-bar a:hover {
    background-color: #dbeaaf;
}

.sidebar-wrapper .logo-text {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sidebar-wrapper .logo-text .shop-name {
    color: #8bc63e;
    font-size: 18px;
    vertical-align: bottom;
    font-weight: bold;
}

.sidebar-wrapper .logo-text .shop-name span {
    color: #57585a;
}

.sidebar-wrapper .cat-icon {
    width: 100%;
    height: auto;
}
.sidebar-wrapper .menu>li>a{
    padding: 5px 1rem;
}
/*.sidebar-wrapper .is-dropdown-submenu {*/
    /*top: auto!important;;*/
    /*bottom: 0!important;*/
/*}*/
.sidebar-wrapper .is-dropdown-submenu li>a{
    padding: 0.4rem 1rem;
}
.sidebar-wrapper .icon-div, .sidebar-wrapper .text-div {
    display: table-cell;
    vertical-align: middle;
}

.sidebar-wrapper .text-div .cat-text {
    padding: 0 20px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    font-size: 1rem;
}

.sidebar-wrapper .icon-div {
    width: 30px;
}

.sidebar-wrapper .dropdown.menu.vertical>li.opens-right>a::after {
    content: none;
}

.sidebar-wrapper .dropdown.menu>li.is-dropdown-submenu-parent>a::after {
    content: none;
}

.sidebar-wrapper .menu > li > a,
.sidebar-wrapper .dropdown.menu > li.is-dropdown-submenu-parent > a {
    padding-right: 0px;
}