.big-ad {
    background-color: #8bc63e;
    border-radius: 50px;
    padding: 20px;
    margin-bottom: 5px;
}

.big-ad .article-image {
    border-radius: 50px;
}

.big-ad .banner {
    position: relative;
}

.big-ad .step {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #57585a;
    color: #8bc63e;
    text-align: center;
    width: 80px;
    padding: 10px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    font-weight: bold;
}

.big-ad .step span {
    color: white;
    font-size: 28px;
}

.big-ad .step-info {
    position: absolute;
    top: 50px;
    left: 120px;
    color: #57585a;
    font-weight: bold;
}

.items-row .orbit-previous, .items-row .orbit-next {
    color: #cacaca;
    background-color: transparent;
}

.items-row .orbit-container { height:280px !important; }

.items-row .orbit-container .orbit-slides-container > * {
    position: relative;
    margin-left: 0;
    float: left;
    height: 100% !important;
}

.orbit-slide .columns .columns {
    float: left;
}

.items-row {
    padding-top: 10px;
}

.category-info {
    text-align: center;
    padding-bottom: 5px;
}

.category-hr {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 220px;
}

.items-hr {
    margin-top: 0px;
    margin-bottom: 15px;
}

.category-name, .item-brand {
    font-weight: bold;
}

.category-tag {
    color: #cacaca;
}

.item-column {
    text-overflow: ellipsis;
    text-align: center;
    overflow: hidden;
}

.products {
    padding-left: 10px;
}

.products .item-column {
    margin-bottom: 20px;
}

.item-brand, .item-name, .item-cost {
    font-size: 14px;
}

.item-name, .item-cost {
    color: #7c7c7c;
    font-size: 12px;
}

.item-name {
    display: block;
    height: 50px;
    overflow: hidden;
}

.item-cost {
    color: #58585a;
    font-size: 14px;
    font-weight: 600;
    line-height: 0.5;
}

.search-row .item-cost {
    display: block;
    height: 40px;
    line-height: 1;
}

.star-rating{
    font-size: 0;
}
.star-rating__wrap{
    display: inline-block;
    font-size: 0.8rem;
    padding: 5px 0;
}
.star-rating__wrap:after{
    content: "";
    display: table;
    clear: both;
}
.star-rating__ico{
    float: right;
    padding-left: 2px;
    cursor: default !important;
    color: #8bc63e;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.star-rating__ico:last-child{
    padding-left: 0;
}
.star-rating__input{
    display: none;
}

.star-rating__input:checked ~ .star-rating__ico:before
{
    content: "\f005";
}
.item-img {
    /*width: 145px;*/
    /*min-height: 145px;*/
    /*min-width: 145px;*/

    height: 155px;
}
.products .item-img {
    /*width: 105px;*/
    min-height: 105px !important;
    min-width: 105px !important;;
}

.banner {
    height: 100%;
    width: 100%;
}

.items-row .owl-stage-outer {
    width: 100%;
}

.items-row .slide-next {
    right: 0px !important;
}

.items-row .slide-previous {
    left: 0px !important;
}
