.mobile-triger{display:none}
.non-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.menu ul {
    z-index: 9999999;
}
.breadcrumbs{
    padding: 30px 0;
}
.breadcrumbs li:after {
    margin: 0 0.4rem!important;
    font-size: 0.9rem!important;
}
.breadcrumbs li a{
    font-size: 0.8rem;
    color:#585858;
    font-weight: 500;
}
.breadcrumbs li span{
    font-size: 0.8rem;
    color:#b3b3b3;
    position:relative;
}
.common-button{
    color: white;
    border: 1px solid #cbcbcb;
    background-color: #aed777;
    border-radius: 30px 15px 30px 15px;
    width:100%;
    padding: 10px;
}
.common-button:hover{
    color: white;
    background-color: #9bbf6a;
}
.button-accept{
    width:50%;
    float:left
}
.button-decline{
    width:50%;
    background-color: #e62f71;
}
.button-decline:hover{
    background-color: #a71549;
}

.add-item-to-basket-button {
    border: 1px solid #cbcbcb;
    background-color: #aed777;
    border-radius: 30px 15px 30px 15px;
}

.add-item-to-basket-button:hover{
    background-color: #9bbf6a;

}
.prorogue-item-button{
    border: 1px solid #cbcbcb;
    border-radius: 20px 10px 20px 10px;
}
.prorogue-item-button:hover{
    border: 1px solid #ff4cb0;
}
.shadow-block{
    box-shadow: 0 0 3px rgba(121, 121, 121, 0.5);
}
.item-column .to-bottom {
    position: absolute;
    bottom: 0;
    width:calc(100% - 1.875rem);
}
.item-column .to-top{
    padding-bottom: 75px;
}
.owl-item:hover{
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}
.owl-item .add-item-to-basket-button {
    width: 100%;
    font-size: 12px !important;
    height: auto;
    padding: 0.85em 1em;
}

.owl-item .add-item-to-basket-button:hover{
    background-color: #9bbf6a;

}
.flash-link{
    text-decoration: none;
    border-bottom: 1px dashed #8bc63e;
    color:#8bc63e;
    cursor: pointer;
    font-size: 1rem;
}
.flash-link:hover {
    color: #aed777;
    border-bottom: 1px solid #8bc63e;
}
.red-flash-link{
    text-decoration: none;
    border-bottom: 1px dashed #e62f71;
    color:#e62f71;
    cursor: pointer;
    font-size: 1rem;
}
.red-flash-link:hover {
    color: #f587af;
    border-bottom: 1px solid #a71549;
}
.modal-h-3{
    font-size: 1.5rem;
    text-align: center;
    color: #4e4e4e;
}

#popup__toggle{bottom:25px;right:10px;position:fixed;z-index: 99999;}
.img-circle{background-color:#aed777;box-sizing:content-box;-webkit-box-sizing:content-box;}
.circlephone{box-sizing:content-box;-webkit-box-sizing:content-box;border: 2px solid #aed777;width:150px;height:150px;bottom:-25px;right:10px;position:absolute;-webkit-border-radius:100%;-moz-border-radius: 100%;border-radius: 100%;opacity: .5;-webkit-animation: circle-anim 2.4s infinite ease-in-out !important;-moz-animation: circle-anim 2.4s infinite ease-in-out !important;-ms-animation: circle-anim 2.4s infinite ease-in-out !important;-o-animation: circle-anim 2.4s infinite ease-in-out !important;animation: circle-anim 2.4s infinite ease-in-out !important;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
.circle-fill{box-sizing:content-box;-webkit-box-sizing:content-box;background-color:#aed777;width:100px;height:100px;bottom:0px;right:35px;position:absolute;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border: 2px solid transparent;-webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;-moz-animation: circle-fill-anim 2.3s infinite ease-in-out;-ms-animation: circle-fill-anim 2.3s infinite ease-in-out;-o-animation: circle-fill-anim 2.3s infinite ease-in-out;animation: circle-fill-anim 2.3s infinite ease-in-out;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
.img-circle{box-sizing:content-box;-webkit-box-sizing:content-box;width:72px;height:72px;bottom: 14px;right: 49px;position:absolute;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border: 2px solid transparent;opacity: .7;}
.img-circleblock{font-size: 50px;text-align: center;color: #ffffff;box-sizing:content-box;-webkit-box-sizing:content-box;width:72px;height:72px;;animation-name: tossing;-webkit-animation-name: tossing;animation-duration: 1.5s;-webkit-animation-duration: 1.5s;animation-iteration-count: infinite;-webkit-animation-iteration-count: infinite;}
.img-circle:hover{opacity: 1;}
@keyframes pulse {0% {transform: scale(0.9);opacity: 1;}
    50% {transform: scale(1); opacity: 1; }
    100% {transform: scale(0.9);opacity: 1;}}
@-webkit-keyframes pulse {0% {-webkit-transform: scale(0.95);opacity: 1;}
    50% {-webkit-transform: scale(1);opacity: 1;}
    100% {-webkit-transform: scale(0.95);opacity: 1;}}
@keyframes tossing {
    0% {transform: rotate(-8deg);}
    50% {transform: rotate(8deg);}
    100% {transform: rotate(-8deg);}}
@-webkit-keyframes tossing {
    0% {-webkit-transform: rotate(-8deg);}
    50% {-webkit-transform: rotate(8deg);}
    100% {-webkit-transform: rotate(-8deg);}}
@-moz-keyframes circle-anim {
    0% {-moz-transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;-moz-opacity: .1;-webkit-opacity: .1;-o-opacity: .1;}
    30% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;-moz-opacity: .5;-webkit-opacity: .5;-o-opacity: .5;}
    100% {-moz-transform: rotate(0deg) scale(1) skew(1deg);opacity: .6;-moz-opacity: .6;-webkit-opacity: .6;-o-opacity: .1;}}
@-webkit-keyframes circle-anim {
    0% {-webkit-transform: rotate(0deg) scale(0.5) skew(1deg);-webkit-opacity: .1;}
    30% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);-webkit-opacity: .5;}
    100% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);-webkit-opacity: .1;}}
@-o-keyframes circle-anim {
    0% {-o-transform: rotate(0deg) kscale(0.5) skew(1deg);-o-opacity: .1;}
    30% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);-o-opacity: .5;}
    100% {-o-transform: rotate(0deg) scale(1) skew(1deg);-o-opacity: .1;}}
@keyframes circle-anim {
    0% {transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;}
    30% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;}
    100% {transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .1;}}
@-moz-keyframes circle-fill-anim {
    0% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
    50% {-moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);opacity: .2;}
    100% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-webkit-keyframes circle-fill-anim {
    0% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;  }
    50% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;  }
    100% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-o-keyframes circle-fill-anim {
    0% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
    50% {-o-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
    100% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@keyframes circle-fill-anim {
    0% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
    50% {transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
    100% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}

[type=text]:focus, [type=password]:focus, [type=date]:focus, [type=datetime]:focus, [type=datetime-local]:focus, [type=month]:focus, [type=week]:focus, [type=email]:focus, [type=number]:focus, [type=search]:focus, [type=tel]:focus, [type=time]:focus, [type=url]:focus, [type=color]:focus, textarea:focus {
    border: 1px solid #c1e097;
    box-shadow: 0 0 5px #c1e097;
}
select:focus {
    border: 1px solid #c1e097;
    box-shadow: 0 0 5px #c1e097;
}
.reveal{
    border-radius: 100px 30px;
    padding: 30px;
}
.red-star{
    color: red;
}
.menu-devider{margin: 10px auto;}
#ajax_update{
    text-align: center;
    padding: 30px;
    font-size: 1.3rem;
}
.submit-button.disabled,
.submit-button[disabled]
{
    background-color: #9bbf6a!important;
    cursor:default!important;
    opacity:0.55;
}