/*============================*/
/*ADAPTIVE*/
/*============================*/

@media (min-width: 1340px) {

}

/*============================*/
/*OTHER*/
/*============================*/

@media (max-width: 1340px) {

}
@media (max-width: 1200px) {

}
@media (max-width: 1147px) {

}
@media (max-width: 1250px) {
    .big-ad .banner {
        font-size: 0.7rem;
    }
}
@media (max-width: 1000px) {

}
@media (max-width: 983px) {
    .big-ad .banner {
        font-size: 0.5rem;
    }

    .big-ad .step-info {
        top: 25px;
        left: 70px;
    }

    .big-ad .step {
        width: 40px;
    }
}
@media (max-width: 850px) {

}
@media (max-width: 783px) {

}
@media (max-width: 783px) {

}
/*============================*/
/*PORTRAIT IPAD*/
/*============================*/
@media (max-width: 767px) {

}

/*============================*/
/*LARGE SMARTPHONES*/
/*============================*/
@media (max-width: 640px) {
    .header .shop-name {
        text-align: center;
    }
}
@media (max-width: 552px) {

}
/*============================*/
/*REGULAR SMARTPHONES*/
/*============================*/
@media (max-width: 480px) and (max-device-width : 480px){

}