/*============================*/
/*ADAPTIVE*/
/*============================*/

@media (min-width: 1340px) {
    .header .form-left-side, .header .form-right-side {
        font-size: 1.2rem;
    }
}

/*============================*/
/*OTHER*/
/*============================*/

@media (max-width: 1340px) {
	
}
@media (max-width: 1200px) {
	
}
@media (max-width: 1147px) {
	
}
@media (max-width: 1250px) {
    .header .form-left-side, .header .form-right-side {
        font-size: 0.8rem;
    }

    .header a {
        font-size: 0.8rem;
    }

    .header .logo-text {
        height: inherit;
    }

    .header .sellers-text {
        font-size: 1rem;
    }
}

@media (max-width: 1024px) {
    .sidebar-wrapper {
        min-height: unset;
    }
}

@media (max-width: 1000px) {
    .header a {
        font-size: 1rem;
    }
}
@media (max-width: 983px) {
    .header .form-left-side, .header .form-right-side {
        font-size: 0.9rem;
    }
}
@media (max-width: 860px) {
    .header .sellers-count {
        font-size: 2rem;
    }

    .header .sellers-text {
        font-size: 1rem;
    }
}
@media (max-width: 783px) {
    .header .form-left-side, .header .form-right-side {
        font-size: 0.8rem;
    }
}
@media (max-width: 783px) {

}
/*============================*/
/*PORTRAIT IPAD*/
/*============================*/
@media (max-width: 767px) {
    .mobile-triger{display:block}
	
}

/*============================*/
/*LARGE SMARTPHONES*/
/*============================*/
@media (max-width: 660px) {
	
}
@media (max-width: 552px) {
	
}
/*============================*/
/*REGULAR SMARTPHONES*/
/*============================*/
@media (max-width: 480px) and (max-device-width : 480px){
	
}