/*============================*/
/*ADAPTIVE*/
/*============================*/

@media (min-width: 1340px) {

}

/*============================*/
/*OTHER*/
/*============================*/

@media (max-width: 1340px) {

}
@media (max-width: 1200px) {

}
@media (max-width: 1147px) {

}
@media (max-width: 1250px) {
    .buy-step a {
        font-size: 0.8rem;
    }
}
@media (max-width: 1000px) {
    .order-submit.width-50 {
        width: 50% !important;
        float: left;
    }
}
@media (max-width: 983px) {

}
@media (max-width: 860px) {

}
@media (max-width: 783px) {

}
@media (max-width: 783px) {

}
/*============================*/
/*PORTRAIT IPAD*/
/*============================*/
@media (max-width: 767px) {

}

/*============================*/
/*LARGE SMARTPHONES*/
/*============================*/
@media (max-width: 660px) {
    .items-table {
        table-layout:fixed;
    }

    .items-table .common-button {
        font-size: 1rem;
    }

    .order-submit {
        font-size: 1rem;
    }

    .buy-step a {
        font-size: 0.7rem;
    }

    .number .item-amount-input {
        width: 20px;
    }
}
@media (max-width: 552px) {

}
/*============================*/
/*REGULAR SMARTPHONES*/
/*============================*/
@media (max-width: 480px) and (max-device-width : 480px){

}