/*============================*/
/*ADAPTIVE*/
/*============================*/

@media (min-width: 1340px) {

}

/*============================*/
/*OTHER*/
/*============================*/

@media (max-width: 1340px) {

}
@media (max-width: 1200px) {

}
@media (max-width: 1147px) {

}
@media (max-width: 1250px) {

}
@media (max-width: 1000px) {

}
@media (max-width: 983px) {

}
@media (max-width: 850px) {
    .custom-medium-reveal {
        width: inherit !important;
    }
}
@media (max-width: 783px) {

}
@media (max-width: 783px) {

}
/*============================*/
/*PORTRAIT IPAD*/
/*============================*/
@media (max-width: 767px) {

}

/*============================*/
/*LARGE SMARTPHONES*/
/*============================*/
@media (max-width: 640px) {

}
@media (max-width: 552px) {

}
/*============================*/
/*REGULAR SMARTPHONES*/
/*============================*/
@media (max-width: 480px) and (max-device-width : 480px){

}