.left-menu li a:hover {
    color: #aed777;
    text-decoration: underline;
}
.left-menu li a {
    color: #818181;
    padding-bottom: 8px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.left-menu li {
    list-style-type: none;
    font-size: 14px;
}
.left-menu-active {
    color: #579208 !important;
}
.right-block h1 {
    font-size: 28px;
}

.dashed-divs {
    padding-left: 0px;
}

.dashed-block h2 {
    font-weight: bold;
    font-size: 16px;
}

.dashed-block {
    border: 1px dashed #bbbbbb;
    margin-bottom: 15px;
    margin-left: 0px;
    padding: 20px;
}

.dashed-block .edit {
    color: #925db5;
    text-decoration: none;
    border-bottom: 1px dashed #925db5;
    margin-top: 10px;
    display: table;
}

.personal-data-table td {
    padding: 0px;
    color: #808080;
}

.arrow-text {
    height: 20px;
    width: 95px;
    padding-right: 5px;
    padding-left: 5px;
    background: #ef6f6e;
    font-size: 14px;
    position: relative;
    display: inline-block;
}
.arrow-text:before {
    content:"";
    position: absolute;
    right: 100%;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 6px solid #ef6f6e;
    border-bottom: 10px solid transparent;
}

.arrow-text a {
    color: white;
}

.address-add, .address-add:hover, .address-add:visited {
    color: #ff7c08;
    border: 1px solid #ff7c08;
    padding: 10px;
    margin-top: 1rem;
    display: block;
    width: 170px;
}

.dashed-block .info, .dashed-block .number {
    display: block;
    color: #808080;
    margin-bottom: 10px;
}

.dashed-block .e-mail {
    border-bottom: 1px solid black;
}

.red-star {
    color: red;
    display: inline !important;
}

.custom-medium-reveal {
    width: 800px !important;
    padding-bottom: 0px;
}

.custom-medium-reveal label, .custom-medium-reveal .gifts-info {
    color: #777777;
}

.modal-h-1 {
    font-size: 24px;
    margin-left: 30px;
}

.modal-left {
    padding-left: 0px;
}

.modal-right {
    margin-top: 9px;
}

.modal-right .medium-12 {
    padding-left: 0px;
}

.day {
    padding-left: 0px;
}

.month {
    padding-left: 0px;
    padding-right: 0px;
}

.year {
    padding-right: 0px;
}


.item-delete-button {
    background-color: #818181;
    color: white;
    border-radius: 50%;
    margin-top: 8px;
}

.modal-footer {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.gifts-info {
    font-weight: bold;
}

.sex {
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 20px;
    color: #7f7f7f;
}

.sex label {
    float: left;
    width: 100%;
    border-radius: 1px;
    overflow: auto;

}

.sex-columns, .sex-columns .columns {
    padding-left: 0px;
    padding-right: 0px;
}

.sex-columns-label {
    height: 41px;
    display: table;
    padding-left: 0px;
    padding-right: 0px;
}

.sex-columns span {
    display: table-cell;
    vertical-align: middle;
}

.sex label span {
    text-align: center;
    display: block;
}

.sex label input {
    position: absolute;
    top: -20px;
}

.sex input + span {
    background-color: white;
    color: black;
    border-bottom: 1px dashed black;
}

.sex input:checked + span {
    background-color: #f8f5fc;
    color: #c1c1c3;
    border-bottom: 1px dashed #c1c1c3;
}

.custom-medium-reveal .save-button {
    height: 40px;
    width: 120px;
    color: white;
    padding: 5px;
    background-color: #7e44aa;
}

.custom-medium-reveal .cancel-button {
    height: 40px;
    width: 120px;
    color: #959398;
}

.custom-medium-reveal .save-button, .custom-medium-reveal .cancel-button {
    cursor: pointer;
}

.modal-footer .info {
    width: 200px;
    color: #ababab;
    font-style: italic;
}

.edit-info {
    display: block;
}

.callout-custom {
    margin-right: 0.9375rem;
}

#order-counter, #win-counter {
    font-size: 12px;
}

.submit-button.disabled,
.submit-button[disabled]
{
    opacity:0.55;
}
.reg-info {
    padding: 15px;
    background-color: #e9fbd1;
    margin-left: 0px;
    font-size: 14px;
    min-height: 200px;
}
/* for avatars */
.avatar-bloc
{
    width:100%;
}
.avatar-bloc label
{
    display: inline-block;
    margin:5px 10px;
    cursor: pointer;
}
input[type=radio]
{
    display: none;
}
.avatar-bloc input:checked+img
{
    border:2px solid #2b8cdb;
    padding:5px;
}
tr.tr_avatar
{
    height: 50px;
    min-height:50px;
}
.avatar-add
{
    color: #ff7c08;
    border: 1px solid #ff7c08;
    padding: 10px;
    width: 170px;
}
.avatar-add:hover,.avatar-add:hover
{
    color: #ff7c08;
}