.content {
    padding-top: 20px;
    padding-bottom: 20px;
}

.left-menu {
    margin-left: 0px;
}

.left-menu li {
    list-style-type: none;
    font-size: 14px;
}


.left-menu-active {
    color: #7e44aa !important;
}

.left-menu li a {
    color: #818181;
}

.allert-column {
    float: left !important;
}

.allert-column h1 {
    font-size: 30px;
}

.suglink {
    font-size: 24px;
}