
.sidebar
{
    border: 1px solid #aed777;
    text-align:left;
    padding-top: 15px;
    padding-bottom: 15px;
}

.sidebar .dropdown.menu.vertical > li.opens-right > a::after, .sidebar .dropdown.menu > li.is-dropdown-submenu-parent > a::after,
.sidebar .is-dropdown-submenu .is-dropdown-submenu-parent.opens-right > a::after {
    all: unset;
    font-family: FontAwesome;
    content: "\f105";
    float: right;
    color: #aed777;
}

.sidebar-element
{
    color: black !important;
    font-weight: bold;
    border-bottom: 2px solid #e4e4e4;
}

.sidebar-element.no-chevron:after {
    content: none;
    display: none !important;
}
.sidebar .dropdown .is-active
{
    background-color: #e4e4e4;
}

.sidebar .is-dropdown-submenu-parent ul
{
    background-color: #e4e4e4;
    margin-left: 1px;
    border: 0px;
}

.sidebar .is-dropdown-submenu-parent ul a {
    color: black !important;
}

.sidebar .nested {
    margin-top: 0px;
    margin-left: 0px;
}

.sidebar .nested .columns {
    padding-left: 0px;
}

.filters-div {
    margin-top: 20px;
}

.filters-div a {
    color: black;
}

#dash-td {
    padding: 0px;
}

#sliderOutput1, #sliderOutput2 {
    border-radius: 5px;
    font-size: 12px;
    margin: 0px !important;
}

.sidebar .slider {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
    margin-top: 0px !important;
}

.sidebar table {
    margin-bottom: 0px;
}
.sidebar .slider-handle {
    border-radius: 50% !important;
    background-color: white !important;
    -webkit-box-shadow: inset 0px -2px 4px 2px rgba(0,0,0,0.3) !important;;
    -moz-box-shadow: inset 0px -2px 4px 2px rgba(0,0,0,0.3) !important;;
    box-shadow: inset 0px -2px 4px 2px rgba(0,0,0,0.3) !important;;

}

.sidebar .slider-fill{
    background-color: #aed777 !important;
}

.sidebar .accordion-item {
    border-bottom: 1px solid #e4e4e4;
}
.sidebar .accordion-item a:hover, .sidebar .accordion-item a:focus,.sidebar .accordion-item a:active{
    background: #e1f0cd;
}
.sidebar .accordion-title {
    border: 0px;
    font-size: 16px;
}

.sidebar .is-active .accordion-title::before {
    font-family: FontAwesome;
    content: "\f106";
}

.sidebar .accordion-title::before {
    font-family: FontAwesome;
    content: "\f107";
}

.sidebar .accordion-content {
    border: 0px;
    padding: 0px;
    padding-top: 5px;
}

.brand-div {
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    padding: 5px;
    max-height: 250px;
    overflow-y: scroll;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 2.25rem;
    margin-top: 10px;
}

.brand-div label {
    color: #759648 !important;;
}

.filters-div .togle {
    color: #759648;
    text-decoration: none;
    border-bottom: 1px dashed #b3d97f;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

.sidebar .button {
    background-color: #aed777 !important;
    color: white !important;
    display: block;
    margin: 0 auto;
    font-size: 16px;
    width: 100%;
}

.full-search-link {
    display: block;
    color: #759648 !important;
    text-align: center;
    padding-top: 7px;
}
