/*============================*/
/*ADAPTIVE*/
/*============================*/

@media (min-width: 1400px) {

}

/*============================*/
/*OTHER*/
/*============================*/

@media (min-width: 1200px) {

}
@media (max-width: 1200px) {

}
@media (max-width: 1147px) {

}
@media (max-width: 1250px) {

}
@media (max-width: 1000px) {

}
@media (max-width: 992px) {

}
@media (max-width: 850px) {

}
@media (max-width: 792px) {

}
@media (max-width: 783px) {

}
/*============================*/
/*PORTRAIT IPAD*/
/*============================*/
@media (max-width: 767px) {
    .cartProd .item-info {
        padding: 5px;
    }

    #in_cart_del {
        width: 100%;
    }
}

/*============================*/
/*LARGE SMARTPHONES*/
/*============================*/
@media (max-width: 668px) {

}
@media (max-width: 640px) {

}
@media (max-width: 552px) {

}
/*============================*/
/*REGULAR SMARTPHONES*/
/*============================*/
@media (max-width: 480px) and (max-device-width : 480px){

}