.tree-level-1{
    padding-left:0;
    color:#001dff;
}
.tree-level-2{
    padding-left:15px;
    color:#7744f3;
}
.tree-level-3{
    padding-left:30px;
    color:#d844f3;
}
.tree-level-4{
    padding-left:45px;
    color:#f3449d;
}
.tree-level-5{
    padding-left:60px;
    color:#2c90a0;
}
.tree-level-6{
    padding-left:75px;
    color:#239068;
}
.tree-level-7{
    padding-left:90px;
    color:#7c9a31;
}
.tree-level-last{
    color:#666;
}