/*============================*/
/*ADAPTIVE*/
/*============================*/

@media (min-width: 1400px) {

}

/*============================*/
/*OTHER*/
/*============================*/

@media (min-width: 1200px) {

}
@media (max-width: 1200px) {

}
@media (max-width: 1147px) {

}
@media (max-width: 1250px) {

}
@media (max-width: 1000px) {

}
@media (max-width: 992px) {

}
@media (max-width: 850px) {

}
@media (max-width: 792px) {

}
@media (max-width: 783px) {

}
/*============================*/
/*PORTRAIT IPAD*/
/*============================*/
@media (max-width: 767px) {

}

/*============================*/
/*LARGE SMARTPHONES*/
/*============================*/
@media (max-width: 668px) {

}
@media (max-width: 640px) {
    #popup__toggle {
        bottom: -35px;
        right: -75px;
    }

    .img-circle {
        opacity: 0.2;
    }
}
@media (max-width: 552px) {

}
/*============================*/
/*REGULAR SMARTPHONES*/
/*============================*/
@media (max-width: 480px) and (max-device-width : 480px){

}