/*============================*/
/*ADAPTIVE*/
/*============================*/

@media (min-width: 1400px) {

}

/*============================*/
/*OTHER*/
/*============================*/

@media (max-width: 1340px) {

}
@media (max-width: 1200px) {

}
@media (max-width: 1147px) {

}
@media (max-width: 1250px) {

}
@media (max-width: 1000px) {

}
@media (max-width: 992px) {
    .ya-map {
        margin-top: 10px;
    }

    .main-page-wrapper .feedback .feedback-form {
        padding-right: 20px;
    }
}
@media (max-width: 850px) {

}
@media (max-width: 783px) {

}
@media (max-width: 783px) {

}
/*============================*/
/*PORTRAIT IPAD*/
/*============================*/
@media (max-width: 767px) {
	.main-menu .buttons .pay{
		position: relative;
		width:100%;
	}
}

/*============================*/
/*LARGE SMARTPHONES*/
/*============================*/
@media (max-width: 668px) {

}
@media (max-width: 552px) {

}
/*============================*/
/*REGULAR SMARTPHONES*/
/*============================*/
@media (max-width: 480px) and (max-device-width : 480px){

}