.admin-panel-fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #3e3e3e;
    z-index: 9999;
}
.admin-panel-fixed a{
    color:#ffffff;
}
.admin-panel-fixed .sub-menu{
    background: #3e3e3e;
    width:auto!important;
}
.admin-panel-fixed .sub-menu li{
    background: #3e3e3e;
    width:auto!important;
    float: none;
}
.admin-panel-menu li{
    list-style: none;
    float: left;
    padding: 5px;
}