.shadow-block{
    box-shadow: 0 0 3px rgba(121, 121, 121, 0.5);
}

.orders-wraper {
    box-shadow: 0 0 3px rgba(121, 121, 121, 0.5);
}

.order-title {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 10px 0 20px 0;
}

.order-actions {
    background: #e5ffe2;
    right: 0;
    top: 0;
    bottom: 0;
}

.order-logo {
    text-align: center;
}

.order-logo img,
.order-photo {
    max-width: 100%;
    height: auto;
}