.category-wrapper {
    display: flex;
    width: 100%;
}

.category-wrapper .products .item {
    border: 1px solid #e6e6e6;
}

.category-wrapper .products .item .item-img {
    text-align: center;
    max-width: 100%;
    height: auto;
}

.category-wrapper .products .item .item-name {
    color: black;
}

.category-wrapper .products .item .item-cost {

}

.category-wrapper .products .item .item-cost a {
    font-weight: bold;
    font-size: 1.3rem;
    color: black;
}