body {
    background-color: #ffffff;
    font-size: 16px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.container{
    max-width: 1320px;
}
.upper-nav-wrapper{
    background-color: #fafafa;
    border-bottom: 1px solid #e6e6e6;
}
.upper-nav-tabs-wrapper .upper-nav-tab{
    float:left;
    height: 4rem;
    margin-bottom: -1px;
}
.upper-nav-tab .navigation-link:first-child,.upper-nav-tab .navigation-link:last-child{
    padding: .5rem 1rem;
}
.upper-nav-links-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.flex-horizontal-left{
    display: flex;
    justify-content: flex-start;
}
.flex-horizontal-right{
    display: flex;
    justify-content: flex-end;
}
.flex-horizontal-center{
    display: flex;
    justify-content: center;
}
.flex-vertical-top{
    display: flex;
    justify-content: flex-start;
}
.flex-vertical-bottom{
    display: flex;
    justify-content: flex-end;
}
.flex-vertical-center{
    display: flex;
    justify-content: center;
}
.upper-nav-links-wrapper .navigation-link{
    float:left;
}
.navigation-link{
    display: block;
    padding: 1rem 2rem 1rem 0;
    font-size: 0.9rem;
    color: #000000;
    float: left;
}
.navigation-link:first-child{
    padding-left: 0;
}
.navigation-linklink:last-child{
    padding-right: 0;
}
.bold-text{
    font-weight: 600;
}
.grey-text{
    color: #939393;
}
.regular-text{
    color: #000000;
}
.upper-nav-tab.active{
    background-color: #ffffff;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 2px solid #ffffff;
}
.upper-nav-tab.busines{
    border-bottom: 2px solid #6bc729;
}
.main-nav-wrapper{
    padding: 15px 0;
}
.logo-img img{
    width: 100%;
    height: auto;
}
.logo-text{
    display: flex;
    align-items: center;
}
.logo-text .text {
    color: #8bc63e;
    font-size: 1.5rem;
    vertical-align: bottom;
    font-weight: bold;
}
.logo-text .text span {
    color: #57585a;
}
.main-nav-links-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.main-nav-links-wrapper .navigation-link{
    float:left;
}
.btn{
    cursor: pointer;
}
.form-notice {
    font-size: 12px;
}
.flash-link{
    text-decoration: none;
    border-bottom: 1px dashed #8bc63e;
    color: #8bc63e;
    cursor: pointer;
    font-size: 1rem;
    background-color: transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
.flash-link:hover {
    color: #aed777;
    text-decoration: none;
    border-bottom: 1px solid #8bc63e;
}
.red-flash-link{
    text-decoration: none;
    border-bottom: 1px dashed #e62f71;
    color:#e62f71;
    cursor: pointer;
    font-size: 1rem;
}
.red-flash-link:hover {
    color: #f587af;
    text-decoration: none;
    border-bottom: 1px solid #a71549;
}
.gradient-green{
    color: #ffffff;
    background-image: '';
    background: rgb(110,229,71); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(110,229,71,1) 0%, rgba(94,211,44,1) 44%, rgba(107,199,41,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(110,229,71,1) 0%,rgba(94,211,44,1) 44%,rgba(107,199,41,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(110,229,71,1) 0%,rgba(94,211,44,1) 44%,rgba(107,199,41,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ee547', endColorstr='#6bc729',GradientType=0 ); /* IE6-9 */
}
.gradient-green:hover{
    color: #ffffff;
    background-image: '';
    background: rgb(51,247,117); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(51,247,117,1) 0%, rgba(47,226,107,1) 34%, rgba(41,198,83,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(51,247,117,1) 0%,rgba(47,226,107,1) 34%,rgba(41,198,83,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(51,247,117,1) 0%,rgba(47,226,107,1) 34%,rgba(41,198,83,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33f775', endColorstr='#29c653',GradientType=0 ); /* IE6-9 */
}
.border-green-btn{
    outline: 3px #6BC729 solid;
    outline-offset: -3px;
    color: #000000;
    background: none;
}
.border-green-btn:hover{
    outline: 3px #2FE26B solid;
    outline-offset: -3px;
    color: #000000;
}
.border-red-btn{
    outline: 3px #ff46a4 solid;
    outline-offset: -3px;
    color: #000000;
    background: none;
}
.border-red-btn:hover{
    outline: 3px #ff88f7 solid;
    outline-offset: -3px;
    color: #000000;
}
.common-button{
    color: white;
    border: 1px solid #cbcbcb;
    background-color: #aed777;
    border-radius: 30px 15px 30px 15px;
    width:100%;
    padding: 10px;
    display: block;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.common-button:hover{
    color: white;
    background-color: #9bbf6a;
}
.button-accept{
    width:50%;
}
.button-decline{
    width:100%;
    background-color: #e62f71;
    display: block;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.button-decline:hover{
    background-color: #a71549;
}
.width-50{
    width:calc(50% - 2px);
}
.width-50:first-child{
    margin-right:4px;
}
.width-100{
    width: 100%;
}
.decoration-green:hover{
    text-decoration: none;
    color:#447d1a!important;
}
.decoration-green span:hover{
    text-decoration: none;
    color:#447d1a!important;
}
.bootstrap-datetimepicker-widget{
    width:auto!important;
}
.modal label{
    width:100%;
}
.page-wrapper{
    flex: 1;
    min-height: 600px;
}
.breadcrumb{
    padding: 30px 0;
    background: none;
}
.breadcrumb li:after {
    margin: 0 0.4rem!important;
    font-size: 0.9rem!important;
}
.breadcrumb li a{
    font-size: 0.8rem;
    color:#585858;
    font-weight: 500;
}
.breadcrumb li span{
    font-size: 0.8rem;
    color:#b3b3b3;
    position:relative;
}
.page-title{
    margin:15px 0;
}
.catalog-wrapper{
    border: 1px solid #e6e6e6;
}
.catalog-header{
    font-size: 1.2rem;
    color:#ffffff;
    padding:0.5rem;
    text-align:center;
    cursor: pointer;
}
.catalog-header span{

}
.catalog-header span{
    margin-left: 20px;
}
.catalog-list{

}
#catalog-dropdown{
    padding: 0;
    margin: 0;
    top: 0;
}
#catalog-dropdown>ul{
    width: calc(100% - 30px);
    border: 1px solid rgba(0,0,0,.15);
}
.left-sidebar-wrapper .banner, .banners-wrapper .banner{
    margin:10px 0;
}
.left-sidebar-wrapper .banner img, .banners-wrapper .banner img{
    width: 100%;
    height: auto;
}
.serach-wrapper #search-where{
    border-radius: .25rem 0 0 .25rem;
}
.serach-wrapper #search-submit{
    height: 37.99px;
}
.red-star{
    color:#ff0047;
}
.info-wrapper{
    border: 1px solid #e6e6e6;
    padding: 15px;
    border-radius: 5px;
    font-size: 0.9rem;
}
footer{
    background-color: #fafafa;
    border-top: 1px solid #e6e6e6;
    margin-top:30px;
    padding: 30px 0;
}
.footer-menu-wrapper .navigation-link{
    float: left;
}
.footer-menu-wrapper .navigation-link:first-child{
    padding-left: 0;
}
.footer-socials-wrapper{
    padding-top:8px;
    display: flex;
    justify-content: flex-end;
}
.footer-socials-wrapper .social-icon{
    display:flex;
    float: left;
    border: 1px #e6e6e6 solid;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
}
.footer-socials-wrapper .social-icon span{
    color: #939393;
    font-size: 1.5rem;
}
.footer-lower-line{
    padding-top: 30px;
}
.footer-notifications-wrapper{
    display: flex;
    justify-content: flex-end;
}
.icon18{
    display:flex;
    float: left;
    border: 1px #e6e6e6 solid;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    color: #939393;
    font-size: 1rem;
}

/*additional fix to img instructions*/
.content-wrapper .post-content p img {
    width:100%;
    height: auto;
}

/*ADMIN PANEL FIXED*/
.admin-panel-fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #3e3e3e;
    z-index: 9999;
}
.admin-panel-fixed a{
    color:#ffffff;
}
.admin-panel-fixed .is-submenu-item{background: #3e3e3e;}
/*ADMIN PANEL FIXED END*/
/*SUPPORT FORM*/
#popup__toggle{bottom:25px;right:10px;position:fixed;z-index: 99999;}
.img-circle{background-color:#aed777;box-sizing:content-box;-webkit-box-sizing:content-box;}
.circlephone{box-sizing:content-box;-webkit-box-sizing:content-box;border: 2px solid #aed777;width:150px;height:150px;bottom:-25px;right:10px;position:absolute;-webkit-border-radius:100%;-moz-border-radius: 100%;border-radius: 100%;opacity: .5;-webkit-animation: circle-anim 2.4s infinite ease-in-out !important;-moz-animation: circle-anim 2.4s infinite ease-in-out !important;-ms-animation: circle-anim 2.4s infinite ease-in-out !important;-o-animation: circle-anim 2.4s infinite ease-in-out !important;animation: circle-anim 2.4s infinite ease-in-out !important;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
.circle-fill{box-sizing:content-box;-webkit-box-sizing:content-box;background-color:#aed777;width:100px;height:100px;bottom:0px;right:35px;position:absolute;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border: 2px solid transparent;-webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;-moz-animation: circle-fill-anim 2.3s infinite ease-in-out;-ms-animation: circle-fill-anim 2.3s infinite ease-in-out;-o-animation: circle-fill-anim 2.3s infinite ease-in-out;animation: circle-fill-anim 2.3s infinite ease-in-out;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
.img-circle{box-sizing:content-box;-webkit-box-sizing:content-box;width:72px;height:72px;bottom: 14px;right: 49px;position:absolute;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border: 2px solid transparent;opacity: .7;}
.img-circleblock{font-size: 50px;text-align: center;color: #ffffff;box-sizing:content-box;-webkit-box-sizing:content-box;width:72px;height:72px;;animation-name: tossing;-webkit-animation-name: tossing;animation-duration: 1.5s;-webkit-animation-duration: 1.5s;animation-iteration-count: infinite;-webkit-animation-iteration-count: infinite;}
.img-circle:hover{opacity: 1;}
@keyframes pulse {0% {transform: scale(0.9);opacity: 1;}
    50% {transform: scale(1); opacity: 1; }
    100% {transform: scale(0.9);opacity: 1;}}
@-webkit-keyframes pulse {0% {-webkit-transform: scale(0.95);opacity: 1;}
    50% {-webkit-transform: scale(1);opacity: 1;}
    100% {-webkit-transform: scale(0.95);opacity: 1;}}
@keyframes tossing {
    0% {transform: rotate(-8deg);}
    50% {transform: rotate(8deg);}
    100% {transform: rotate(-8deg);}}
@-webkit-keyframes tossing {
    0% {-webkit-transform: rotate(-8deg);}
    50% {-webkit-transform: rotate(8deg);}
    100% {-webkit-transform: rotate(-8deg);}}
@-moz-keyframes circle-anim {
    0% {-moz-transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;-moz-opacity: .1;-webkit-opacity: .1;-o-opacity: .1;}
    30% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;-moz-opacity: .5;-webkit-opacity: .5;-o-opacity: .5;}
    100% {-moz-transform: rotate(0deg) scale(1) skew(1deg);opacity: .6;-moz-opacity: .6;-webkit-opacity: .6;-o-opacity: .1;}}
@-webkit-keyframes circle-anim {
    0% {-webkit-transform: rotate(0deg) scale(0.5) skew(1deg);-webkit-opacity: .1;}
    30% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);-webkit-opacity: .5;}
    100% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);-webkit-opacity: .1;}}
@-o-keyframes circle-anim {
    0% {-o-transform: rotate(0deg) kscale(0.5) skew(1deg);-o-opacity: .1;}
    30% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);-o-opacity: .5;}
    100% {-o-transform: rotate(0deg) scale(1) skew(1deg);-o-opacity: .1;}}
@keyframes circle-anim {
    0% {transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;}
    30% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;}
    100% {transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .1;}}
@-moz-keyframes circle-fill-anim {
    0% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
    50% {-moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);opacity: .2;}
    100% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-webkit-keyframes circle-fill-anim {
    0% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;  }
    50% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;  }
    100% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-o-keyframes circle-fill-anim {
    0% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
    50% {-o-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
    100% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@keyframes circle-fill-anim {
    0% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
    50% {transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
    100% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
/*SUPPORT FORM END*/