.products-wraper{
    margin-top: 1rem;
}
.product{
    border: 1px solid #e6e6e6;
    padding-bottom: 2rem;
}
.product-img img{
    padding-top: 1rem;
}
.product-img img{
    width:100%;
    height: auto;
}
.product-name{
    padding: 1rem 0;
}
.product-name span{
    color: #000000;
    word-wrap: break-word;
}
.product-price{
    position: absolute;
    bottom: 0;
    font-size: 1.5rem;
}
.product-price span{
    font-weight: 600;
    color: #000000;
}
.product-price .currency{
    font-weight: 600;
    color: #000000;
}