.orders-wraper{
    box-shadow: 0 0 3px rgba(121, 121, 121, 0.5);
}
.order-block{
    border-bottom: 1px solid rgba(121, 121, 121, 0.5);

}
.order-block:last-child{
    border-bottom: none;
}

.order-logo {
    text-align: center;
}

.order-logo img {
    max-width: 100%;
    height: auto;
}

.order-details{
    padding-top: 20px;
    padding-bottom: 20px;
}
.order-title{
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0 0 20px 0;
}
.order-title a{
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0 0 20px 0;
    color: #0a0a0a;
}
.order-description{

}
.order-actions{
    background: #e5ffe2;
    padding: 10px;
}
.actions-buttons{
    bottom: 0;
    left: 15px;
    right: 15px;
}
.row{position: relative}

.count_down{
    margin-bottom: 4em;
}
.acepted {
    position: absolute;
    bottom: 20px;
    color: #a01c3a;
    border: 1px solid;
    padding: 2px 5px;
    right: 20%;
    font-size: 1.5rem;
    font-weight: 600;
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

.acepted-active{
    color: #aed777;
}
.acepted-cancel{
    color: #ffa24f;
}
.acepted-end{
    color: #777ed7;
}