.acepted {
    position: absolute;
    bottom: 20px;
    color: #a01c3a;
    border: 1px solid;
    padding: 2px 5px;
    right: 20%;
    font-size: 1.5rem;
    font-weight: 600;
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

.acepted-active{
    color: #aed777;
}
.acepted-cancel{
    color: #ffa24f;
}
.acepted-end{
    color: #777ed7;
}