.product-control-wrapper{
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin: 30px 0;
    padding: 15px;
}
.product-page-price{
    font-size: 2rem;
}
.product-page-rating{
    margin:60px 0;
}
.star-rating{
    font-size: 0;
}
.star-rating__wrap{
    display: inline-block;
    font-size: 0.8rem;
}
.star-rating__wrap:after{
    content: "";
    display: table;
    clear: both;
}
.star-rating__ico{
    float: right;
    padding-left: 2px;
    cursor: default !important;
    color: #aed777;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.star-rating__ico:last-child{
    padding-left: 0;
}
.star-rating__input{
    display: none;
}

.star-rating__input:checked ~ .star-rating__ico:before
{
    content: "\f005";
}
.product-tabs-wrapper {
    margin: 30px 0;
}
.product-tabs-wrapper .tab-content{
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    border-radius: 0 0 5px 5px;
    padding: 30px;
}
.products-similar-products{
    margin: 30px 0;
    padding: 0 15px;
    width:100%;
}
.similar-products{
    margin: 0;
}
.product{
    padding: 15px;
}
.slide-nav {
    position: absolute;
    top: 50%;
    color: #cccccc;
}
.slide-previous{
    left: -10px !important;
}
.slide-next{
    right: -10px !important;
}
