.sex {
    color: #7f7f7f;
}

.sex label {
    float: left;
    width: 100%;
    border-radius: 1px;
    overflow: auto;
    text-align: center;
    padding: 8px 0px;
    background: rgb(110,229,71); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(110,229,71,1) 0%, rgba(94,211,44,1) 44%, rgba(107,199,41,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(110,229,71,1) 0%,rgba(94,211,44,1) 44%,rgba(107,199,41,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(110,229,71,1) 0%,rgba(94,211,44,1) 44%,rgba(107,199,41,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ee547', endColorstr='#6bc729',GradientType=0 ); /* IE6-9 */
    color: white;
}
.sex input:checked + label {
    background: rgb(51,247,117); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(51,247,117,1) 0%, rgba(47,226,107,1) 34%, rgba(41,198,83,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(51,247,117,1) 0%,rgba(47,226,107,1) 34%,rgba(41,198,83,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(51,247,117,1) 0%,rgba(47,226,107,1) 34%,rgba(41,198,83,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33f775', endColorstr='#29c653',GradientType=0 ); /* IE6-9 */
    color: white;
}
.sex input[type=radio] {
   display:none;
}

.register-tabs-wrapper .tab-content {
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    border-radius: 0 0 5px 5px;
    padding: 30px;
}
