/*.dropdown-menu {
    width: 100%;
    border: none;
    float: none;
}
.dropdown-menu li{
    padding: 2px 10px;
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu .dropdown-menu{
    border: 1px solid rgba(0,0,0,.15);
}

.dropdown-submenu>.dropdown-menu {
    top: -100%;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: 5px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}*/
.left-menu {
    margin-left: 0;
    padding-left: 0;
}

.left-menu li {
    list-style-type: none;
    font-size: 14px;
}


.left-menu-active {
    color: #579208 !important;
}

.left-menu li a {
    color: #818181;
    padding-bottom: 8px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}
.left-menu li a:hover {
    color: #aed777;
    text-decoration: underline;
}

.left-menu .fa {
    height: 12px;
    width: 22px;
    padding-bottom: 8px;
    vertical-align: initial;
}

.sidebar-holder {
    position:relative;
}

.catalog-list {
    width: 100%;
    min-width: 298px;
}

.catalog-list .sidebar-holder a {
    color:unset;
    text-decoration:none;
}

.catalog-list .sidebar-holder a:hover {
    color:unset;
    text-decoration:none;
}

.main-category {
    cursor:pointer;
    padding:2.5px 5px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    min-height:40px;
    font-weight:600;
}

.main-category:after, .chosen:after {
    content:'';
    visibility:hidden;
    position:absolute;
    left:100%;
    width:0px;
    height:0px;
    border-left: 10px solid rgb(94,211,44);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    z-index:10;
}

.main-category:hover {
    padding-right:10px;
}

.main-category:hover, .chosen {
    color:white;
    background: linear-gradient(to bottom, rgba(110,229,71,1) 0%,rgba(94,211,44,1) 44%,rgba(107,199,41,1) 100%);
}

.main-category:hover:after, .chosen:after {
    visibility:visible;
}

.main-category.last:after{
    display:none;
}

.main-category:hover .left-arrow {
    display:none;
}

.left-arrow {
    color: #cccccc;
    font-size:12px;
}

.sub-category {
    display:none;
    position:absolute;
    left:100%;
    top:0;
    min-height:40px;
    padding-left:10px;
    border:1px solid #e6e6e6;
    background:white;
    box-shadow: 5px 0 5px rgba(0,0,0,.15);
    color:black;
    z-index: 5;
}

.category-holder {
    display:block;
    position:relative;
}

.category-holder:hover .sub-category {
    display: block;
}

.parent-category {
    padding-left:10px;
    font-size:13px;
    font-weight:600;
}

.parent-category-main {
    margin-bottom:10px;
    max-width:250px;
    width:100%;
    background:white;
}

.child-category {
    padding:0 5px;
    font-weight:normal;
}

.catalog-list .sidebar-holder .sub-category  a:hover {
    color:#447d1a;
}

.catalog-header + .dropdown-menu{
    min-width: 298px;
    width: 100%;
    transform: inherit !important;
    top: 100% !important;
}

/*#catalog-dropdown + .fixed-bottom {
    bottom:unset;
}*/