.sidebar-filter .card-block {
    padding: 10px;
    border: 1px solid #e4e4e4;
}

.sidebar-filter .card-header,
.sidebar-filter .card {
    border: 0px;
    padding-left: 0px;
}

.sidebar-filter .card-header {
    background-color: transparent;
}

.sidebar-filter .card-block.scroll {
    max-height: 200px;
    overflow-y: scroll;
}

.sidebar-filter h5.mb-0 {
    font-size: 1rem;
}

.sidebar-filter h5.mb-0 a {
    color: black;
}

.sidebar-filter .green {
    color: #759648;
}

.sidebar-filter .green-dotted {
    text-decoration: none;
    border-bottom: 1px dashed #759648;
}

.sidebar-filter .clear-filter {
    margin-top: 20px;
    display: block;
    text-align: center;
}

.sidebar-filter #dash-td {
    padding: 0px;
}

.sidebar-filter #sliderOutput1, .sidebar-filter #sliderOutput2 {
    border-radius: 5px;
    font-size: 12px;
    margin: 0px !important;
    width: 100%;
}

.sidebar-filter .slider {
    margin-top: 10px !important;
}

.sidebar-filter table {
    margin-bottom: 0px;
}

.sidebar-filter .slider.slider-horizontal {
    width: 100% !important;
}