.left-menu {
    margin-left: 0px;
    padding-left: 0px;
}

.left-menu li {
    list-style-type: none;
    font-size: 14px;
}


.left-menu-active {
    color: #579208 !important;
}

.left-menu li a {
    color: #818181;
    padding-bottom: 8px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.left-menu li a:hover {
    color: #aed777;
    text-decoration: underline;
}

.left-menu .fa {
    height: 12px;
    width: 12px;
    padding-bottom: 8px;
    margin-right: 5px;
    vertical-align: initial;
}
